.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: auto;
}

.font {
    font-weight: bold;
}

.font.text {
    font-size: 14px;
    color: #F05A22;
}

.btn__container {
    display: flex;
}

.item {
    margin-left: 14px;
}

.item:nth-child(1) {
    margin-left: 0;
}

.modal__position{
    position: absolute;
    right: 0;
    margin-right: 10%;

}