.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}
.font {
    font-size: 1.5rem;
    font-weight: bold;
}

.font.text {
    color: #F05A22;
}

.btn-container {
    display: flex;
}

.item {
    flex:1 1 auto;
    margin-left:1rem;
}

.item:nth-child(1){
    margin-left: 0;
}

.btn {
    padding: 0.8rem;
    color: #57585A;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;
}

.btn:hover{
    border: 1px solid #F05A22;
    background-color: #F05A22;
    color: white;
}

